<link rel="stylesheet" href="css/loader.css">


<div id="loader" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-white" style="width: 48px; margin-left: 60px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>

        </div>
        <div class="modal-content">
          <span class="text-white pt-10">Đang xử lý, vui lòng chờ ...</span>
        </div>
    </div>
</div>


<script src="js/popper.min.js"></script>
