<div id="myNav" class="overlay">
    <div class="overlay-content">
        <a href="#user" data_type='side'>Quản lý người dùng</a>
        <a href="#menu" data_type='side'>Quản lý menu</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <hr>
       
        <button class="dropdown-btn">Dropdown 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" data_type='side'>Link 1</a>
            <a href="#" data_type='side'>Link 2</a>
            <a href="#" data_type='side'>Link 3</a>
        </div>


        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
    </div>
</div>