<div id="myNav" class="overlay">
    <span id='close_sidebar' class="closebtn"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    <div class="overlay-content">
        <a href="#user" data_type='side'>Quản lý người dùng</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <hr>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <hr>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 01</a>
    </div>
</div>