<div id="myNav" class="overlay">
    <div class="overlay-content">

        <button class="dropdown-btn">Dropdown 
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
            <a href="#user" data_type='side'>Quản lý người dùng</a>
            <a href="#menu" data_type='side'>Quản lý menu</a>
            <hr>
        </div>



        <button class="dropdown-btn">Dropdown 
            <i class="fa fa-caret-down"></i>
        </button>
        
        <div class="dropdown-container">
            <a href="#" data_type='side'>Link 1</a>
            <a href="#" data_type='side'>Link 2</a>
            <a href="#" data_type='side'>Link 3</a>
            <hr>
        </div>

       
    </div>
</div>