.head{
  border-bottom: solid 1px rebeccapurple;
}

.menu_custom{
  position: absolute;
  bottom: 5px;
}

.roles {
  float: right !important;
  background: darkslategrey;
  color: white;
  font-weight: 600;
  width: auto;
}

.roles_check {
  float: right !important;
  padding-right: 0px;
}


.role {
  width: 70px;
  height: 100%;
  text-align: center;
  padding: 10px;

  display: inline-flex;
  align-items: center;
}


.input_custom{
  width: calc(100% - 367.63px);
  display: inline-flex;
}



.add_info{
  border-bottom: solid 1px rebeccapurple;
  border-top: solid 1px rebeccapurple;
  padding: 5px;
}


.role > i{
  font-size: 20px !important;
}

#form_action{
  margin-bottom : 3px;
}