body{
    margin-top: 80px;
}

.overlay {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: rgba(33, 54, 54, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    top: 60px;
    left: 10px;

    text-align: left;
  }
  
  .overlay a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-size: 13px;
    transition: 0.5s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    color: #ffffff;

  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
        font-size: 10px;
    }
    .overlay .closebtn {
        font-size: 20px;
        right: 30px;
    }
  }