body{
    margin-top: 80px;
    /* font-family :  sans-serif !important; */
}

header{
  z-index: 30;
}

#pageChild{
  z-index: 20;
}




/* sidebar */
.overlay {
  height: 100%;
  width: 0px;
  position: fixed ;
  z-index: 10;
  top: 56px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: #fff;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
}
  
.overlay-content {
  position: relative;
  width: 100%;
  top : 10px;
  text-align: left;
}
  
.overlay a, .dropdown-btn{
  padding-left: 15px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-size: 16px;
  transition: 0.5s;


  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
  
.dropdown-btn{
  height: 30px;
}

.dropdown-container{
  display: none;
}

.overlay a:hover, .overlay a:focus, .overlay .dropdown-btn:hover {
  color: #4aeb00;
}

@media screen and (max-height: 450px) {
  .overlay a {
      font-size: 10px;
  }
  .overlay .closebtn {
      font-size: 20px;
      right: 30px;
  }
}


.fa-caret-down {
  float: right;
  padding-right: 10px;
  padding-top: 4px;
}

 

.overlay::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.overlay::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.overlay::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.overlay::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 

  /* cac nut hanh dong trong page */
  
  .action a, .action span{
    padding-left: 12px;
  }

  .action i{
    font-size: 20px !important;
    color: rgb(99, 91, 207);
  }
  .action i:hover{
    animation: roll 0.6s infinite;
    animation-iteration-count: 1;
  }

  @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* table */
thead #title_head_table{
  background: rgb(89, 64, 201);
  color: #fff;
}

thead #filter_head_table{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}



/* modal */
.modal-title {
  color: white;
  margin-bottom: 0;
  line-height: 1;
  width: 100%;
}

.modal-header {
  background: #1988FF;
}

.td_modal:hover{
  cursor:move;
}



/* paging */

.page, .page_more, .page_active{
  background: none;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: rgba(0,0,0,.6);
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding: 0;
  text-align: center;
}
.page:hover{
    background: rgb(252, 197, 197);
}



.page_active{
    background: rgb(148, 106, 187);
    color: white
}


